doctype html

html(lang="en")

	head

		title Language of the Temple

		meta(expires="0")
		meta(http-equiv="cache-control", content="must-revalidate")
		meta(http-equiv="content-type", content="text/html;charset=UTF-8")

		base(href="{{{ WWW }}}")

		link(rel="stylesheet" href="css/css.css")

	body

		block content

		if false

			script(src="js/cookie.js")

		block scripts